<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Series
    </a>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">channel</th>
      <th scope="col">seasons</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let serie of series">
      <th scope="row">{{ serie.id }}</th>
      <td>
        <a href="#">
          {{serie.name}}
        </a>
      </td>
      <td>{{ serie.channel }}</td>
      <td>{{ serie.seasons }}</td>
    </tr>
  </tbody>
</table>


